-- Add those lines at the beginning of a dump file.
-- Change `database_name` to any DB name.

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `database_name` /*!40100 DEFAULT CHARACTER SET utf8 */;

USE `database_name`;
